[tasks.update]
description = "mise cleanup && update scoop, winget, bun, mise"
run = "scoop update * && winget upgrade --all && bun update -g && mise up && mise upgrade && mise self-update -y && mise reshim && rustup update stable && gh extension upgrade --all && mise chezmoi-update"

[tasks.cleanup]
description = "cleanup"
run = "scoop cleanup * && mise prune && podman system prune -a && npm cache clean --force && git gc --prune=now"

[tasks.commit]
description = "commit"
run = "git add . && czg ai"


# chezmoi tasks
[tasks.chezmoi-update]
description = "chezmoi update && push"
dir = "C:/Users/Veerapong/.local/share/chezmoi"
run = "chezmoi re-add && git add . && git commit -m update && git push -u origin main"

[tasks.start-podman]
description = "start podman"
run = "podman machine start"

[tasks.stop-podman]
description = "stop podman"
run = "podman machine stop"

[tasks.open-windsurf-global]
description = "open windsurf global workflows"
dir = "c:/Users/Veerapong/.codeium/windsurf/global_workflows"
run = "windsurf ."

[tasks.open-chezmoi-config]
description = "open chezmoi config files"
dir = "~/.local/share/chezmoi"
run = "dir"

[env]
OPENAI_API_KEY = "${env:OPENAI_API_KEY}"
GEMINI_API_KEY = "${env:GEMINI_API_KEY}"
CLAUDE_API_KEY = "${env:CLAUDE_API_KEY}"
OPENROUTER_API_KEY = "${env:OPENROUTER_API_KEY}"
DEEPSEEK_API_KEY = "${env:OPENROUTER_API_KEY}"
XAI_API_KEY = "${env:XAI_API_KEY}"

[tools]
"cargo:rmz" = "latest"
go = "latest"
"npm:@agent-tars/cli" = "latest"
"npm:@antfu/ni" = "latest"
"npm:@biomejs/biome" = "latest"
"npm:@callstack/ai-cli" = "latest"
"npm:@charmland/crush" = "latest"
"npm:@continuedev/cli" = "latest"
"npm:@getgrit/cli" = "latest"
"npm:@modelcontextprotocol/sdk" = "latest"
"npm:@railway/cli" = "latest"
"npm:@tauri-apps/cli" = "latest"
"npm:@the-node-forge/image-resizer-cli" = "latest"
"npm:@vibe-kit/grok-cli" = "latest"
"npm:@vscode/vsce" = "latest"
"npm:actions-up" = "latest"
"npm:aicommits" = "latest"
"npm:amp" = "latest"
"npm:better-commits" = "latest"
"npm:bundle-phobia-cli" = "latest"
"npm:czg" = "latest"
"npm:diff2html" = "latest"
"npm:dprint" = "latest"
"npm:gifify" = "latest"
"npm:giget" = "latest"
"npm:git-split-diffs" = "latest"
"npm:loadtest" = "latest"
"npm:npkill" = "latest"
"npm:nuxt" = "latest"
"npm:opencode-ai" = "latest"
"npm:opencommit" = "latest"
"npm:oxlint" = "latest"
"npm:pake-cli" = "latest"
"npm:rimraf" = "latest"
"npm:snapai" = "latest"
"npm:stepci" = "latest"
"npm:tauri" = "latest"
"npm:taze" = "latest"
"npm:turbo" = "latest"
"npm:vercel" = "latest"
"npm:vibekit" = "latest"
"npm:vite" = "latest"
"npm:vitest" = "latest"
"npm:wrangler" = "latest"
pnpm = "latest"
starship = "latest"
uv = "latest"
zig = "latest"
fd = "latest"
dua = "latest"
podman = "latest"
github-cli = "latest"
gitui = "latest"
neovim = "latest"
act = "latest"
bat = "latest"
rust-analyzer = "latest"
rust = "latest"
fastfetch = "latest"
"cargo:open" = "latest"
zoxide = "latest"
"cargo:git-x" = "latest"
cargo-binstall = "latest"
"cargo:xh" = "latest"
"npm:@shikijs/cli" = "latest"
"npm:@ast-grep/cli" = "latest"
"github:kristoferlund/ostt" = "latest"
node = "latest"
bun = "latest"
"npm:@moonrepo/cli" = "latest"
dprint = "latest"
ripgrep = "latest"
rmz = "latest"
hyperfine = "latest"
gitleaks = "latest"


[settings]
windows_shim_mode = "hardlink"


[settings.npm]
bun = true

