[tasks.update]
description = "mise cleanup && update scoop, winget, bun, mise"
run = "scoop update * && winget upgrade --all && bun update -g && mise up && mise upgrade && mise self-update -y && mise reshim && rustup update stable && gh extension upgrade --all && mise chezmoi-update"

[tasks.cleanup]
description = "cleanup"
run = "scoop cleanup * && mise prune && podman system prune -a && npm cache clean --force && git gc --prune=now"

[tasks.commit]
description = "commit"
run = "git add . && czg ai"


# chezmoi tasks
[tasks.chezmoi-update]
description = "chezmoi update && push"
dir = "C:/Users/Veerapong/.local/share/chezmoi"
run = "chezmoi re-add"

[tasks.start-podman]
description = "start podman"
run = "podman machine start"

[tasks.stop-podman]
description = "stop podman"
run = "podman machine stop"

[tasks.open-windsurf-global]
description = "open windsurf global workflows"
dir = "c:/Users/Veerapong/.codeium/windsurf/global_workflows"
run = "windsurf ."

[tasks.open-chezmoi-config]
description = "open chezmoi config files"
dir = "~/.local/share/chezmoi"
run = "dir"

[env]
OPENAI_API_KEY = "${env:OPENAI_API_KEY}"
GEMINI_API_KEY = "${env:GEMINI_API_KEY}"
CLAUDE_API_KEY = "${env:CLAUDE_API_KEY}"
OPENROUTER_API_KEY = "${env:OPENROUTER_API_KEY}"
DEEPSEEK_API_KEY = "${env:OPENROUTER_API_KEY}"
XAI_API_KEY = "${env:XAI_API_KEY}"

[tools]
"cargo:rmz" = "latest"
"cargo:open" = "latest"
"cargo:git-x" = "latest"
"cargo:xh" = "latest"
"github:kristoferlund/ostt" = "latest"


[settings]
windows_shim_mode = "hardlink"


[settings.npm]
bun = true

