[tasks.update]
description = "update scoop, winget, bun(global), mise, rustup, gh extensions, chezmoi"
run = "scoop update * && winget upgrade --all && bun update -g && mise up && mise upgrade && mise self-update -y && rustup self update && mise reshim && rustup update stable && gh extension upgrade --all && chezmoi-update"

[tasks.cleanup]
description = "cleanup scoop, mise, podman, git gc"
run = "scoop cleanup * && cargo cache --autoclean && scoop cache rm * && cargo-clean-all && mise prune"


[tasks.commit]
description = "git add all && commit with czg ai"
run = "git add . && czg ai"




# chezmoi tasks
[tasks.chezmoi-update]
description = "chezmoi re-add (sync local changes)"
dir = "C:/Users/Veerapong/.local/share/chezmoi"
run = "chezmoi re-add"

[tasks.start-podman]
description = "start podman machine"
run = "podman machine start"

[tasks.stop-podman]
description = "stop podman machine"
run = "podman machine stop"


[tasks.open-windsurf-global]
description = "open windsurf global_workflows directory"
dir = "c:/Users/Veerapong/.codeium/windsurf/global_workflows"
run = "dir"

[tasks.cargo-clean-all]
description = "Clean all Rust projects recursively"
run_windows = """
powershell -NoProfile -Command "Get-ChildItem -Recurse -Filter Cargo.toml | ForEach-Object { `$dir = `$_.DirectoryName; Write-Host \\"Cleaning `$dir\\"; Push-Location `$dir; cargo clean; Pop-Location }"
"""


[tasks.git-submodule-update-remote]
description = "git submodule update with init and recursive"
run = "git submodule update --init --recursive"



[tasks.create-nuxt]
description = "nuxt minimal"
run = "bun create nuxt --template minimal --packageManager bun --force --gitInit"

[tasks.update-node-deps]
description = "bunx taze -r -w"
run = "bunx taze -r -w"






[env]
OPENAI_API_KEY = "${env:OPENAI_API_KEY}"
GEMINI_API_KEY = "${env:GEMINI_API_KEY}"
CLAUDE_API_KEY = "${env:CLAUDE_API_KEY}"
OPENROUTER_API_KEY = "${env:OPENROUTER_API_KEY}"
DEEPSEEK_API_KEY = "${env:OPENROUTER_API_KEY}"
XAI_API_KEY = "${env:XAI_API_KEY}"


[tools]
"cargo:rmz" = "latest"
"cargo:open" = "latest"
"cargo:git-x" = "latest"
"cargo:xh" = "latest"
"github:kristoferlund/ostt" = "latest"
"cargo:node_module-nuke" = "latest"
"cargo:clean-dev-dirs" = "latest"
"cargo:procs" = "latest"
biome = "latest"
oxlint = "latest"
"cargo:selene" = "latest"
"cargo:cargo-sweep" = "latest"
"github:stakpak/agent" = "latest"
"cargo:cargo-clean-all" = "latest"
watchexec = "latest"


[settings]
windows_shim_mode = "hardlink"

[settings.npm]
bun = true
